body {
    background-color: rgb(238, 238, 238);
}

div {
    display: flex;
    flex-wrap: wrap;
}

img {
    background-color: rgb(255, 255, 255);
}

blockquote {
    font-family: Georgia, serif;
}

a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}