* {
    font-family: Helvetica, sans-serif;
}
header {
    border-bottom: 1px solid black;
}

header h1 {
    display: inline-block;

}
nav {
    display: inline-block;
    margin-left: 50px;
}
nav ul li {
    display: inline-block;
}
a {
    text-decoration: none;
    padding-left: 10px;
    color: green;
}

